*.iml
.gradle
.DS_Store
.externalNativeBuild
.cxx
local.properties
/docs/index.md

# Android (under android/)
/android/.idea/caches
/android/.idea/libraries
/android/.idea/modules.xml
/android/.idea/workspace.xml
/android/.idea/navEditor.xml
/android/.idea/assetWizardSettings.xml
/android/build
/android/app/build
/android/app/release
/android/captures

# iOS (under ios/)
/ios/build
/ios/DerivedData
/ios/Pods
**/xcuserdata
**/*.xcuserstate
